[package]
name = "miden-node-panic-macro"
version = "0.11.0"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
quote = "1"
syn = { version = "2", features = ["full"] }
anyhow = { workspace = true}
futures = { workspace = true}
tracing = { workspace = true }
